.images {
  padding-top: 25px;
  padding-bottom: 25px;
  .image {
    float: left;

    width: 168px;

    margin-top: 12px;
    margin-right: 12px;
    margin-left: 6px;
    margin-right: 6px;

    img {
      min-width: 100%;
      max-width: 100%;
    }
  }
}

